# E-Commerce Product Performance Dashboard & Analysis

---

## ðŸ”– Objective
- Analyzed a synthetic e-commerce dataset focusing on price, ratings, returns, and delivery 
trends.
- The goal is to understand sales patterns, top products, and customer preferences through simple analysis and visualizations.
- Cleaned and preprocessed data, handled missing values (~5%), and performed exploratory data analysis 
using Python.
- Created interactive dashboards in Power BI/Tableau to visualize product performance and category-wise 
insights. 
- Delivered key business insights to optimize pricing, reduce return rates, and improve stock and delivery 
planning.

## ðŸ’¡ Dataset
- Iâ€™m using a dataset from Kaggle.
- **Source**: [E-Commerce Product Performance Dataset](https://www.kaggle.com/datasets/efeyldz/e-commerce-product-performance-dataset)
### Data Fields:
-  Product_Price: The listed price of the product in USD (range: 5 to 1000).
-  Discount_Rate: Discount rate applied to the product (0.0 to 0.8).
-  Product_Rating: Customer rating on a scale from 1 to 5.
-  Number_of_Reviews: Total number of user reviews (0 to 5000, highly skewed).
-  Stock_Availability: Product availability in stock (1 = available, 0 = out of stock).
-  Days_to_Deliver: Number of days it takes to deliver the product (1 to 30).
-  Return_Rate: Proportion of items returned after purchase (0.0 to 0.9).
-  Category_ID: ID of the product category (integer from 1 to 10).

## ðŸ“ˆ Tools & Technologies
- Python: For coding
- Pandas: To work with data tables
- NumPy
- Matplotlib & Seaborn: For creating plots
- Plotly: For interactive charts

## ðŸ’¡ Key Questions
- Which products generate the most profit?
- Is there a correlation between views, cart adds, and purchases?
- Which products have the highest conversion rates?
- What categories perform best in terms of revenue and profit?

## ðŸ“Š Data Exploration & Cleaning

### Import importmant Libraries

In [1]:
#import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

### Load & inspect the DataSet

In [2]:
#read the dataset
df = pd.read_csv(".\ecommerce_product_data.csv")

In [3]:
#Show the first 5 rows of the dataset
print("First 5 rows of the data:")
df.head()

First 5 rows of the data:

,Product_Price,Discount_Rate,Product_Rating,Number_of_Reviews,Stock_Availability,Days_to_Deliver,Return_Rate,Category_ID
0,199.671415,0.177024,4.411071,62.0,1.0,9.0,0.185116,5.0
1,136.173570,0.041467,3.033534,201.0,1.0,3.0,0.384639,10.0
2,214.768854,0.276197,2.866881,479.0,1.0,19.0,0.056410,4.0
3,302.302986,0.094254,4.473473,252.0,1.0,11.0,NaN,7.0
4,126.584663,0.411845,3.553082,671.0,1.0,14.0,0.672163,6.0

In [4]:
#Show the shape of the dataset
print("Shape of the dataset:")
df.shape

Shape of the dataset:

(2000, 8)

In [5]:
#Show basic information about the dataset
print("Basic information about the dataset:")
df.info()

Basic information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Product_Price       1900 non-null   float64
 1   Discount_Rate       1900 non-null   float64
 2   Product_Rating      1900 non-null   float64
 3   Number_of_Reviews   1900 non-null   float64
 4   Stock_Availability  1900 non-null   float64
 5   Days_to_Deliver     1900 non-null   float64
 6   Return_Rate         1900 non-null   float64
 7   Category_ID         1900 non-null   float64
dtypes: float64(8)
memory usage: 125.1 KB

In [6]:
#Show summary statistics of the dataset
print("Summary statistics of the dataset:")
df.describe()

Summary statistics of the dataset:

,Product_Price,Discount_Rate,Product_Rating,Number_of_Reviews,Stock_Availability,Days_to_Deliver,Return_Rate,Category_ID
count,1900.000000,1900.000000,1900.000000,1900.000000,1900.000000,1900.000000,1900.000000,1900.000000
mean,156.774274,0.286993,3.729987,304.318421,0.903158,15.411579,0.328904,5.572105
std,93.484558,0.159012,0.885164,310.344539,0.295821,8.534049,0.176306,2.827601
min,5.000000,0.005368,1.000000,0.000000,0.000000,1.000000,0.006528,1.000000
25%,87.414867,0.165603,3.125828,86.750000,1.000000,8.000000,0.190178,3.000000
50%,153.663352,0.265994,3.770215,210.000000,1.000000,15.000000,0.307430,6.000000
75%,217.788796,0.391186,4.417711,429.000000,1.000000,22.000000,0.444752,8.000000
max,535.273149,0.800000,5.000000,2848.000000,1.000000,30.000000,0.900000,10.000000

### Handling missing values
The first few steps involve making sure that there are no __missing values__ or __incorrect data types__ before we proceed to the analysis stage. These aforementioned problems are handled as follows:

 - For Missing Values: Some common techniques to treat this issue are
    - Dropping the rows containing the missing values
    - Imputing the missing values
    - Keep the missing values if they don't affect the analysis

    
 - Incorrect Data Types:
    - Clean certain values
    - Clean and convert an entire column

#### Checking missing values

In [7]:
#check null values
print("Null values in the dataset:")
df.isnull()

Null values in the dataset:

,Product_Price,Discount_Rate,Product_Rating,Number_of_Reviews,Stock_Availability,Days_to_Deliver,Return_Rate,Category_ID
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
1995,False,False,False,False,False,False,True,False
1996,True,False,False,False,True,False,False,False
1997,False,False,False,False,False,False,False,False
1998,False,False,False,False,False,False,False,False
1999,False,False,False,False,False,False,False,False

In [8]:
#number of missing values in each column
print("Number of missing values in each column:")
df.isnull().sum()

Number of missing values in each column:

Product_Price         100
Discount_Rate         100
Product_Rating        100
Number_of_Reviews     100
Stock_Availability    100
Days_to_Deliver       100
Return_Rate           100
Category_ID           100
dtype: int64

In [9]:
#number of rows having all missing Values
print("Number of rows having all missing values:",df.isnull().all(axis=1).sum())

Number of rows having all missing values: 0

In [10]:
#number of Columns having all missing Values
print("Number of Columns having all missing values:",df.isnull().all(axis=0).sum())

Number of Columns having all missing values: 0

In [11]:
#count missing values in each rows
df.isnull().sum(axis=1)

0       0
1       0
2       0
3       1
4       0
       ..
1995    1
1996    2
1997    0
1998    0
1999    0
Length: 2000, dtype: int64

In [12]:
#count the number of rows having > 3 missing values
print("Number of rows having more than 3 missing values:",df.isnull().sum(axis=1).gt(3).sum())
#count the number of rows having 3 missing values
print("Number of rows having 3 missing values:",df.isnull().sum(axis=1).eq(3).sum())
#count the number of rows having 2 missing values
print("Number of rows having 2 missing values:",df.isnull().sum(axis=1).eq(2).sum())
#count the number of rows having 1 missing values
print("Number of rows having 1 missing values:",df.isnull().sum(axis=1).eq(1).sum())
#count the number of rows having 0 missing values
print("Number of rows having NO missing values:",df.isnull().sum(axis=1).eq(0).sum())

Number of rows having more than 3 missing values: 0
Number of rows having 3 missing values: 10
Number of rows having 2 missing values: 94
Number of rows having 1 missing values: 582
Number of rows having NO missing values: 1314

In [13]:
#count missing values in each column
df.isnull().sum(axis=0)

Product_Price         100
Discount_Rate         100
Product_Rating        100
Number_of_Reviews     100
Stock_Availability    100
Days_to_Deliver       100
Return_Rate           100
Category_ID           100
dtype: int64

In [14]:
#Check the datatypes of all the columns of the dataframe
print("Datatypes of all the columns:")
df.dtypes

Datatypes of all the columns:

Product_Price         float64
Discount_Rate         float64
Product_Rating        float64
Number_of_Reviews     float64
Stock_Availability    float64
Days_to_Deliver       float64
Return_Rate           float64
Category_ID           float64
dtype: object

Here All are correct data type as expected.

#### Missing Value Treatment

In [15]:
#missing percetage
print("Missing percentage in each column:")
df.isnull().sum()/len(df.index)*100

Missing percentage in each column:

Product_Price         5.0
Discount_Rate         5.0
Product_Rating        5.0
Number_of_Reviews     5.0
Stock_Availability    5.0
Days_to_Deliver       5.0
Return_Rate           5.0
Category_ID           5.0
dtype: float64

No any column is having more than 30% missing values
So, we should to impute the missing values rather than droping the missing values.

##### Imputing Missing Values
- Using mean and median and mode
    - Mean	For numerical data thatâ€™s normally distributed (not skewed).
    - Median	For skewed numerical data or when there are outliers.
    - Mode	For categorical or binary data.

In [16]:
#impute Product_Price with median, because Prices are often skewed (e.g., many lower-priced items and fewer high-priced ones).
df['Product_Price'].fillna(df['Product_Price'].median(), inplace=True)
#impute Discount_Rate with median, because Discounts are often normally distributed.
df['Discount_Rate'].fillna(df['Discount_Rate'].median(), inplace=True)
#impute Product_Rating with median, because Ratings may be skewed (e.g., more 4s and 5s due to positive bias in reviews).
df['Product_Rating'].fillna(df['Product_Rating'].median(), inplace=True)
#impute Number_of_Reviews with median, because It's a count and the distribution is likely highly right-skewed (few products have many reviews). 
df['Number_of_Reviews'].fillna(df['Number_of_Reviews'].median(), inplace=True)
#impute Stock_Availability with mode, because It's a categorical variable and mode is the most common value.
df['Stock_Availability'].fillna(df['Stock_Availability'].mode()[0], inplace=True)
#impute Days_to_Deliver with median, because Integer field, usually centered but might have some skew. Since it's a small-range number.
df['Days_to_Deliver'].fillna(df['Days_to_Deliver'].median(), inplace=True)
#impute Return_Rate with median, as most products may have low return rates, with few having high rates.
df['Return_Rate'].fillna(df['Return_Rate'].median(), inplace=True)

In [17]:
#check null values
print("Null values in the dataset after imputation:")
df.isnull().sum()

Null values in the dataset after imputation:

Product_Price           0
Discount_Rate           0
Product_Rating          0
Number_of_Reviews       0
Stock_Availability      0
Days_to_Deliver         0
Return_Rate             0
Category_ID           100
dtype: int64

- Using Product Characteristics for Imputation of Category_ID.
If Product_Price, Discount_Rate, or Product_Rating correlate strongly with Category_ID, use these to predict missing values. Example: Use group-based imputation, filling missing values based on similar Product_Rating.

In [18]:
#imputing Category_ID based on similar product ratings
df['Category_ID'].fillna(df.groupby('Product_Rating')['Category_ID'].transform('median'), inplace=True)

In [19]:
#recheck null values after imputation of Category_ID
print("Null values in the dataset after imputation of Category_ID:")
df.isnull().sum()

Null values in the dataset after imputation of Category_ID:

Product_Price          0
Discount_Rate          0
Product_Rating         0
Number_of_Reviews      0
Stock_Availability     0
Days_to_Deliver        0
Return_Rate            0
Category_ID           88
dtype: int64

In [20]:
#imputing Category_ID based on similar Return_Rate
df['Category_ID'].fillna(df.groupby('Return_Rate')['Category_ID'].transform('median'), inplace=True)

In [21]:
#recheck null values after imputation of Category_ID
print("Null values in the dataset after imputation of Category_ID:")
df.isnull().sum()

Null values in the dataset after imputation of Category_ID:

Product_Price          0
Discount_Rate          0
Product_Rating         0
Number_of_Reviews      0
Stock_Availability     0
Days_to_Deliver        0
Return_Rate            0
Category_ID           85
dtype: int64

In [22]:
#imputing Category_ID based on similar Stock_Availability
df['Category_ID'].fillna(df.groupby('Stock_Availability')['Category_ID'].transform('median'), inplace=True)

In [23]:
#recheck null values after imputation of Category_ID
print("Null values in the dataset after imputation of Category_ID:")
df.isnull().sum()

Null values in the dataset after imputation of Category_ID:

Product_Price         0
Discount_Rate         0
Product_Rating        0
Number_of_Reviews     0
Stock_Availability    0
Days_to_Deliver       0
Return_Rate           0
Category_ID           0
dtype: int64

Now all missing values has handled and the data set is ready for Analysis.